<h1>REGISTRATIONS NEW</h1>
<h2>An empty registration form</h2>

<form method="POST" action="/register">
  <div>
    <label for="username">Username</label>
    <input name="username" id="username" placeholder="Username" />
  </div>
  <div>
    <label for="email">Email</label>
    <input name="email" id="email" placeholder="Email" />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Password" />
  </div>
  <div>
    <label for="passwordConfirmation">Password Confirmation</label>
    <input type="password" name="passwordConfirmation" id="passwordConfirmation" placeholder="Password Confirmation" />
  </div>

  <button>Submit</button>
</form>
