<section class="hero is-primary is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Blogging platform</h1>
      <h2 class="subtitle">Now with Express EJS Layouts!</h2>
    </div>
  </div>
</section>
