<section class="section">
  <div class="form container">
    <h1 class="title">Edit account</h1>

    <form method="POST" action="/account" >
      <input type="hidden" name="_method" value="PUT" />

        <div class="field">
          <label class="label" for="username">Username</label>
          <div class="control">
            <input class="input" name="username" id="username" placeholder="Username"  value="<%= user.username %>" />
          </div>
        </div>

        <div class="field">
          <label class="label" for="email">Email</label>
          <div class="control">
            <input class="input" name="email" id="email" placeholder="Email"  value="<%= user.email %>" />
          </div>
        </div>

        <div class="field">
          <label class="label" for="image">Image</label>
          <div class="control">
            <input class="input" name="image" id="image" placeholder="Image"  value="<%= user.image %>" />
          </div>
        </div>

      <button class="button is-link">Submit</button>
    </form>
  </div>
</section>
