<h1>My account</h1>

<p>Username: <%= user.username %></p>
<p>Email: <%= user.email %></p>


<a href="/account/edit">Edit</a>
<form method="POST" action="/account/<%= user._id %>" >
<input type="hidden" name="_method" value="DELETE">
<button class="delete">Delete account</button>
</form>
