<section class="section">
  <div class="form container">
    <h1 class="title">Create post</h1>

    <form method="POST" action="/posts" >

      <div class="field">
        <label class="label" for="title">Title</label>
        <div class="control">
          <input class="input" name="title" id="title" placeholder="Title" required/>
        </div>
      </div>

      <div class="field">
        <label class="label" for="subtitle">Subtitle</label>
        <div class="control">
          <input class="input" name="subtitle" id="subtitle" placeholder="Subtitle"/>
        </div>
      </div>

      <div class="field">
        <label class="label" for="hero">Hero image</label>
        <div class="control">
          <input class="input" name="hero" id="hero" placeholder="Image URL" required  pattern="^https?://.+"/>
        </div>
      </div>


      <div class="field">
        <label class="label" for="copy">Copy</label>
        <textarea class="textarea" rows="8" name="copy" id="copy" placeholder="Copy (plain or markdown)"></textarea>
      </div>

      <button class="button is-link">Post</button>
    </form>
  </div>
</section>
